/* general styling */
html, body {
    font-family: 'Cairo', sans-serif;;
    margin: 0px;
    scroll-behavior: smooth;
}

:root {
    --main-blue: #2196f3;
    --section-padding: 100px;
    --text-padding:10px;
    --background-color: rgb(244, 244, 244);
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
        margin: auto;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
        margin: auto;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: auto;
    }
}

.title {
    font-size: 30px;
    margin: 0px auto 80px;
    font-weight: bold;
    padding: 10px 20px;
    border: black solid 2px;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    z-index: 2;
}

.title:hover {
    animation: title-animation .25s linear both;
    -webkit-animation: title-animation .25s linear both;
    animation-delay: 0.25s;
}

.title::before {
    content: "";
    position: absolute;
    left: -45px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-blue);
    z-index: -1;
}

.title:hover::before {
    animation: before-animation .25s linear both;
    -webkit-animation: before-animation .25s linear both;
}

.title::after {
    content: "";
    position: absolute;
    right: -45px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-blue);
    z-index: -1;
}

.title:hover::after {
    animation: after-animation .25s linear both;
    -webkit-animation: after-animation .25s linear both;
}

@keyframes before-animation {
    0% {
        left: -25px;
        width: 12px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    50% {
        left: 0px;
        border-radius: 50%;
        width: 12px;
        height: 12px;
}
    100% {
        left: 0px;
        width: 50%;
        height: 100%;
        border-radius: 0%;
    }
}

@keyframes after-animation {
    0% {
        right: -25px;
        width: 12px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    50% {
        right: 0px;
        border-radius: 50%;
        width: 12px;
        height: 12px;
}
    100% {
        right: 0px;
        width: 50%;
        height: 100%;
        border-radius: 0%;
    } 
}

@keyframes title-animation {
    0% {
        border: black solid 2px;
        background-color: transparent;
        color: black;
    }
    50% {
        border: transparent solid 2px;
        background-color: var(--main-blue);
        color: white;
    }
    100% {
        border: transparent solid 2px;
        background-color: var(--main-blue);
        color: white;
    }
}

/* start header */
header {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 7px 0px rgb(205, 205, 205);
    padding: 0px 160px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 100%;
}

header p.logo {
    font-size: 25px;
    color: var(--main-blue, blue);
    font-weight: 700;
    margin: 0px;
    text-align: center;
}

header nav {
    flex-grow: 1;
}

header nav ul.mainmenu {
    display: flex;
    justify-content: flex-end;
    color: initial;
    align-items: center;
    margin: 0px;
}

header nav ul.mainmenu li:not(header nav ul.mainmenu li div.megamenu ul li) {
    height: 80px;
    font-size: large;
    text-align: center;
}

header nav ul.mainmenu li a:not(header nav ul.mainmenu li div.megamenu ul li a) {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    transition: all .25s linear 0s;
    -webkit-transition: all .25s linear 0s;
    -moz-transition: all .25s linear 0s;
    -ms-transition: all .25s linear 0s;
    -o-transition: all .25s linear 0s;
    height: 100%;
    position: relative;
}

header nav ul.mainmenu li a:not(header nav ul.mainmenu li div.megamenu ul li a)::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px;
    background-color: var(--main-blue, blue);
}

header nav ul.mainmenu li a:not(header nav ul.mainmenu li div.megamenu ul li a):hover::before {
    animation: border-motion .5s both ;
    -webkit-animation: border-motion .5s both ;
}

header nav ul.mainmenu li a:not(header nav ul.mainmenu li div.megamenu ul li a):hover {
    color: var(--main-blue, blue);
    background-color: rgb(212, 212, 212);
}

header nav ul img {
    width: 250px;
}

header nav ul.mainmenu li div.megamenu {
    display: flex;
    position: absolute;
    width: 75%;
    right: 12.5%;
    padding: 30px 30px 10px;
    background-color: rgb(255, 255, 255);
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top .5s, opacity .5s, z-index .5s; /* Add z-index transition */
    -webkit-transition: top .5s, opacity .5s, z-index .5s;
    -moz-transition: top .5s, opacity .5s, z-index .5s;
    -ms-transition: top .5s, opacity .5s, z-index .5s;
    -o-transition: top .5s, opacity .5s, z-index .5s;
    align-items: center;
    border-bottom: #2196f3 solid 2px;
    pointer-events: none;
    z-index: -1; /* Set initial z-index to -1 */
}

header nav ul.mainmenu li.megamenu:hover div.megamenu {
    top: 100%;
    opacity: 1;
    pointer-events: auto;
    z-index: 1; /* Change z-index to 1 on hover */
}

header nav ul.mainmenu li div.megamenu ul li {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    border-bottom: var(--main-blue) solid 1px;
}

header nav ul.mainmenu li div.megamenu ul.links li:last-child {
    border-bottom: transparent;
}

header nav ul.mainmenu li div.megamenu ul li::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: -1;
    background-color: rgb(218, 218, 218);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

header nav ul.mainmenu li div.megamenu ul li:hover::after{
    width: 100%;
}

header nav ul.mainmenu li div.megamenu ul li a {
    color: var(--main-blue);
    font-size: 25px;
    position: relative;
} 

header nav ul.mainmenu li div.megamenu ul li a::before {
    content: "";
    position: absolute;
}

header nav ul.mainmenu li div.megamenu img {
    width: 250px;
    height: 250px;
}

header nav ul.mainmenu li div.megamenu .links {
    min-width: 200px;
    flex: 1;
}

header nav ul.mainmenu li div.megamenu ul li a i {
    margin: 5px;
}

/* start header animations */
@keyframes border-motion {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
/* start header media queries */
@media (max-width: 1350px) {
    header nav ul.mainmenu li div.megamenu ul li a {
        font-size: 19px;
    }
    header nav ul.mainmenu li div.megamenu {
        gap: 0px;
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 950px) {
    header {
        padding: 0px 15px;
        width: 100%;
    }
    header nav ul.mainmenu li div.megamenu {
        left: 5%;
        width: 90%;
    }
    header nav ul.mainmenu li div.megamenu ul li a {
        font-size: 20px;
    }
    header nav ul.mainmenu li div.megamenu img {
        display: none;
    }
}

@media (max-width: 560px) {
    header {
        display: grid;
        justify-content: center;
        padding: 10px 15px 0px;
        row-gap: 5px;
    }
    header p.logo {
        display: inline;
    }
    header nav ul.mainmenu li {
        height: 50px;
    }
    header nav ul.mainmenu li div.megamenu ul.links:first-of-type li:last-child {
        border-bottom: var(--main-blue) solid 1px;
    }
    header nav ul.mainmenu li div.megamenu {
        display: grid;
        padding: 5px 20px 5px 0px;
        gap: 0px;
    }
}

@media (max-width: 450px) {
    header nav ul.mainmenu li {
        margin: 0px 7px;
    }
    header {
        padding: 5px 0px 0px;
    }
    header nav ul.mainmenu {
        padding: 0px;
    }
    header nav ul.mainmenu li a:not(header nav ul.mainmenu li div.megamenu ul li a) {
        padding: 0px;
    }
}

/* start landing */
div.landing {
    position: relative;
}

div.landing div.landing-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 100vh;
    padding: 0px 10px 140px;
    width: 80%;
    margin: auto;
}

div.landing a {
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: var(--main-blue, blue);
    animation-name: arrow-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

div.landing a:hover {
    animation-play-state: paused;
}

div.landing div.landing-cont h1 {
    font-size: 35px;
}

div.landing div.landing-cont p {
    max-width: 450px;
    margin: 0px 20px 0px 0px;
    color: gray;
    font-size: 25px;
    line-height: 1.5;
}

div.landing img {
    width: 300px;
    height: 300px;
    position: relative;
    animation: up-down 7s linear infinite;
    -webkit-animation: up-down 7s linear infinite;
}

div.landing::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(233, 233, 233);
    transform: skewY(-6deg);
    transform-origin: top left;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
}

/* start landnding animations */
@keyframes arrow-up {
    0% {
        bottom: 100px;
    }
    50% {
        bottom: 110px;
    }
    100% {
        bottom: 100px;
    }
}

@keyframes up-down {
    0% {
        top: 0px;
    }
    33% {
        top: -30px;
    }
    66% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}
/* end landnding animations */

@media (max-width: 850px) {
    div.landing div.landing-cont {
        width: 100%;
    }
    div.landing div.landing-cont img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 560px) {
    .landing {
        text-align: center;
    }
    .landing img {
        display: none;
    }
}
/* end landing */


/* start articles */
.articles {
    padding: var(--section-padding) 20px;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;
}

.articles .box {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.articles .box:hover {
    transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.articles .box:hover .link i {
    animation: arrow-left 1s infinite linear;
    -webkit-animation: arrow-left 1s infinite linear;
    position: relative;
}

.articles .image img {
    max-width: 100%;
    width: 100%;
}

.articles .head-text {
    padding-left: var(--text-padding);
}

.articles .text {
    padding-left: var(--text-padding);
    color: gray;
}

.articles .link {
    padding: var(--text-padding);
    padding-right: 40px 20px;
    border-top: rgb(225, 225, 225) solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-blue);
}

.articles .link a {
    color: var(--main-blue);
    font-size: 17px;
    font-weight: bold;
}

@keyframes arrow-left {
    0% {
        left: 0px;
    }
    33% {
        left: 4px;
    }
    66% {
        left: -2px;
    }
    100% {
        left: 0px;
    }
}
/* end articles */

/* start gallery */
.gallery {
    padding: var(--section-padding) var(--text-padding);
    background-color: var(--background-color);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.gallery .box {
    padding: 10px;
    background-color: white;
}

.gallery .image {
    overflow: hidden;
    position: relative;
}

.gallery img {
    width: 100%;
    transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
}

.gallery .image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: rgb(239 239 239 / 15%);
}

.gallery .box:hover .image::after {
    animation: flash 0.5s linear ;
    -webkit-animation: flash 0.5s linear ;
}

.gallery .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}

@keyframes flash {
    0% {
        width: 0%;
        height: 0%;
    }
    50% {
        width: 200%;
        height: 200%;
    }
    100% {
        background-color: transparent;
    }
}
/* end gallery */